*, *::before, *::after { 
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  margin: 0;

  font-family: sans-serif;
}

body {
  padding-bottom: 30px;

}

#chat-app { 
  display: grid;
  grid-template-areas: 
    "users messages"
    "outgoing outgoing"
  ;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  border: 2px solid #333;
  border-radius: 10px;    
  overflow: hidden; 
}

.users { 
  grid-area: users;
  background-color: #3a9cb4;
  overflow-y: auto;
  padding: 14px;
  margin-top: 0;
  margin-right: 10px;
  list-style-type: none;
  color: rgb(0 0 0);
}

.messages { 
  margin-top: 0px;
  margin-bottom: 0px;
  grid-area: messages;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
 
}

.username { 
  font-size: 12px;
  color: gray;
  margin-left: 5px;

}
.message { 
  display: flex;

  margin-top:20px;
  margin-bottom: 20px;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  background-color: #f9f9f9

}
.sender-info { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;

}

.message-text { 

  width: 100%;
  margin: 0;
  margin-top: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  
  background: #3a9cb4;
  
  border-radius: 5px;
  font-size: 16px;
  color:rgb(61, 61, 61);
  word-break: break-word;
  position: relative;

}

.message-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  margin: 6px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

button {
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #3a9cb4;  
  border: none;
  cursor: pointer;
  margin-left: -1px;
  width: 100px;
  height: 50px;
  width: 100px;

}

.outgoing { 
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  

}

.flexone {
  flex:1;
}
.flextwo {
 width:100px;
}

.avatar { 
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.to-send {
  height: 50px;
  width: 100%;
}
