html, body { 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b9b3b3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    min-width: 50rem;
    max-width: 50rem;  
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    border: 2px solid #007f7f; 
    overflow: hidden; 
        
}

h1 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.3125rem;
}

input[type="text"] {
    padding: 0.3125rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ddd;
    border-radius: 0.1875rem;
}

button {
    padding: 0.3125rem;
    background-color: #007f7f; 
    color: #fff;
    border-radius: 0.1875rem;
    cursor: pointer;
    margin-bottom: 0.625rem;
}

button:hover {
    background-color:#4b6972;
}

a {
    display: inline-block;
    margin-top: 1rem;
    color: #007f7f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
* {
    box-sizing: border-box; 
}

@media (max-width: 480px) {
   
    .container {
        width: 80%;           
        max-width: 40rem;  
        min-width: 24rem;  
        padding: 6.5rem;    
        border: 2px solid #007f7f; 
        box-sizing: border-box; 
    }

    
    h1 {
        font-size: 1.5rem;    
        margin-bottom: 0.75rem;
        text-align: center;   
    }

   
    input[type="text"] {
        padding: 0.5rem;     
        font-size: 0.9rem;   
        width: 100%;          
        box-sizing: border-box; 
    }

    
    button {
        padding: 0.5rem;      
        font-size: 0.85rem;   
        width: 100%;          
        box-sizing: border-box; 
    }

    
    form {
        margin-bottom: 1rem;  
    }

    
    label {
        font-size: 0.9rem;   
        margin-bottom: 0.5rem; 
    }

    
}
