body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex; 
    align-items: center; 
}

.logo {
    height: 50px;
    margin-right: 20px; 
}

h1 {
    margin: 0; 
    text-align: center; 
    flex: 1; 
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center; 
}

main {
    padding: 20px;
}
