body {
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin: 0 auto;
    padding: 20px;
    background-color:#717382;
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.product-card {
    background: #cabdbd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.product-image {
    max-width: 150px;
    height: auto;
}

.product-name {
    margin: 10px 0;
    color: #2c3e50;
}

.product-price {
    color: #2c3e50;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px 0;
}


.cart-content {
    background: #cabdbd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.cart-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 15px;
    border-bottom: 5px solid #eee;
}

.cart-item-image {
    width: 50px;
    height: 50px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantity-input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cart-total {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #294fb9;
}

.checkout {
    background-color: #2ecc71;
}

.checkout:hover {
    background-color: #0f6433;
}

.cart-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.view-cart {
    margin: 20px 0;
    display: block;
    margin-left: auto;
}