
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ccddee;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
